<?xml version="1.0" encoding="UTF-8" ?>
<phpunit bootstrap="./vendor/autoload.php"
         colors="true"
         convertDeprecationsToExceptions="true"
         convertNoticesToExceptions="true"
         forceCoversAnnotation="true"
         beStrictAboutTodoAnnotatedTests="true"
         enforceTimeLimit="true">

    <testsuites>
        <testsuite name="Core Tests">
            <directory>./tests/Core/</directory>
        </testsuite>
    </testsuites>

</phpunit>
